<div class="modal fade" id="modalCriarPost" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Anunciar novo <span class="text-primary">Pet:</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top:0">
                    <div class="col-md-12 ">
                        <div class="row" id="wpImages">                            
                            <div class="col-md-4 my-2" id="wpImagensPet">
                                <div class="image-placeholder text-center" onclick="$('#arquivosPet').click()">
                                    <span class="fa fa-camera fa-2x"></span>
                                </div>                                
                                <input type="file" id="arquivosPet" style="display:none" multiple accept="image/*" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-control">Nome:</label>
                            <input class="form-control" id="nomePet">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-control">Descrição:</label>
                            <textarea class="form-control" id="descricaoPet"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-control">
                                Etiquetas
                                <small class="text-muted">
                                    (Digite e aperte Enter)
                                </small>
                                :
                            </label>
                            <input class="form-control" data-role="tagsinput" id="tagsPet">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-primary float-right" id="btnCriarPost">
                            Criar Post
                        </button>
                    </div>

                </div>
            </div> 
        </div>
    </div>
</div>
