.wrapper-curtida {
    background-color: #dedede;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    top: 160px;
    right: 15px;
    line-height: 3rem;
    color: #a2a2a2;
    cursor:pointer;
}

.wrapper-curtida.curtido {
    color: #ff4d4d;
}

.pet-image {
    width: 100%;
    height: 300px;
    border-radius: 150px;
    background-color: #cccccc;
}

.row{
    margin-top:15px;
}

.image-placeholder {
    width: 135px;
    height: 150px;
    border: 2px dashed #cccccc;
    color: #cccccc;
    cursor: pointer;
}

.image-placeholder:hover{
    color: gray;
    border-color: gray;
}

.image-placeholder span {
    line-height: 4.5;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bootstrap-tagsinput:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: dimgrey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.image-close {
    position: absolute;
    left: 18px;
    top: 5px;
    opacity: 0.8;
    cursor:pointer;
}

.image-close:hover{
    opacity:1;
}

.img-round {
    border-radius: 200px;
}

.pointer{
    cursor: pointer;
}